<section class="hero is-dark is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="img/hero_logo.svg" alt="Logo">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroC" id="navBarBuger">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a rel="me" href="https://techhub.social/@libretools" class="navbar-item">
              Updates
            </a>
            <a class="navbar-item" href="https://gitlab.com/libre-tools">
              Gitlab
            </a>
            {% comment %}
              <a class="navbar-item is-active">
                Home
              </a>
              <a class="navbar-item">
                Gitlab
              </a>
              <a class="navbar-item">
                Documentation
              </a>
              <span class="navbar-item">
                <a class="button is-success is-inverted">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Download</span>
                </a>
              </span>
            {% endcomment %}
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p>
        <img src="img/libre_tools_logo.png" />
      </p>
      <p class="title">
        Libre Tools
      </p>
      <p class="subtitle">
        Free software office productivity tools, offering <br/>
              Notes, 
              Chat, 
              Todo's, 
              Kanban, 
              Retrospective, 
              File Uploads,<br/>
              Search, 
              Forum, 
              Forms, 
              Polls, 
              and many more....
        </p>
      </p>
    </div>
  </div>

  {% comment %}
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a>Modifiers</a></li>
            <li><a>Grid</a></li>
            <li><a>Elements</a></li>
            <li><a>Components</a></li>
            <li><a>Layout</a></li>
          </ul>
        </div>
      </nav>
    </div>
    {% endcomment %}
</section>

<script type="text/javascript">
  const myNav = document.querySelector("#navbarMenuHeroC")
  const burger = document.querySelector("#navBarBuger")
  burger.addEventListener('click', ()=> {
      myNav.classList.toggle("is-active")
      burger.classList.toggle("is-active")
  })
</script>